@if(error.length>0){
<div class="alert alert-primary bg-primary text-white" role="alert">
    @for (err of error; track $index) {
    <small>{{err}}</small><br />
    }
</div>
}

<div class="fw-medium mb-2">
    Upload Music File
</div>

<div class="mb-4">
    <input type="file" class="form-control" #musicTag (change)="musicTagChange($event)" accept=".mp3" />
</div>

<div class="fw-medium mb-2">
    Upload Thumbnail
</div>

<div class="mb-4">
    <input type="file" class="form-control" #imageTag (change)="imageTagChange($event)" accept=".jpg,.webp,.png">
</div>

<div class="fw-medium mb-2">
    Song Name
</div>

<div class="mb-4">
    <input type="text" class="form-control" placeholder="Song Name" [(ngModel)]="songName"
        [ngModelOptions]="{standalone: true}">
</div>

<div class="fw-medium mb-2">
    Artist Name
</div>

<div class="mb-4">
    <input type="text" class="form-control" placeholder="Artist Name" [(ngModel)]="artistName"
        [ngModelOptions]="{standalone: true}">
</div>

<div class="fw-medium mb-2">
    Youtube Link
</div>

<div class="mb-4">
    <input type="text" class="form-control" placeholder="Youtube Link" [(ngModel)]="yt_link"
        [ngModelOptions]="{standalone: true}">
</div>

<div class="fw-medium mb-2">
    Custom FileName
</div>

<div class="mb-4">
    <input type="text" class="form-control" placeholder="Filename" [(ngModel)]="customName"
        [ngModelOptions]="{standalone: true}">
</div>

<div class="text-end">
    @if(ongoing()){
    <button class="btn btn-outline-light px-5" disabled>
        <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </button>
    }
    @else {
    <button class="btn btn-outline-light" (click)="uploadMusic()">Upload</button>
    }
</div>

<hr class="my-4" />
<div>
    @for(song of songList(); track $index) {
    <div class="bg-custom py-2 mb-5 rounded position-relative">
        <div class="my-1 px-3">{{song.songName}}</div>
        <div class="my-1 px-3">{{song.artist}}</div>
        <div class="mt-1 mb-3 px-3">{{song.yt_link}}</div>
        <div class="position-absolute top-100 translate-middle" style="left: 81%;">
            <div class="d-flex gap-2">
            <button class="btn btn-success btn-sm">Edit</button>
            <button class="btn btn-danger btn-sm">Delete</button>
            </div>
        </div>
    </div>
    }
</div>