@if(error.length>0){
<div class="alert alert-primary bg-primary text-white" role="alert">
    @for (err of error; track $index) {
    <small>{{err}}</small><br />
    }
</div>
}

<div class="fw-medium mb-2">
    Upload Image
</div>

@if(previewUrl()){
<img class="img-fluid mb-3" [src]="previewUrl()" #imgElement (load)="onImageLoad(imgElement.height,imgElement.width)" />
}

<div class="mb-4">
    <input type="file" class="form-control" #imageTag (change)="imageTagChange($event)" accept=".jpg,.webp,.png">
</div>

<div class="fw-medium mb-2">
    Identifier
</div>

<div class="mb-4">
    <input type="text" class="form-control" placeholder="Identifier" [(ngModel)]="identifier"
        [ngModelOptions]="{standalone: true}">
</div>

<div class="fw-medium mb-2">
    Image Caption
</div>

<div class="mb-4">
    <input type="text" class="form-control" placeholder="Caption" [(ngModel)]="alternate_text"
        [ngModelOptions]="{standalone: true}">
</div>

<div class="fw-medium mb-2">
    Title
</div>

<div class="mb-4">
    <input type="text" class="form-control" placeholder="Post Title" [(ngModel)]="title"
        [ngModelOptions]="{standalone: true}">
</div>

<div class="fw-medium mb-2">
    Body
</div>

<div class="mb-4">
    <textarea class="form-control" placeholder="Post Body" [(ngModel)]="body"
        [ngModelOptions]="{standalone: true}"></textarea>
</div>

<div class="fw-medium mb-2">
    Location
</div>

<div class="mb-4">
    <input type="text" class="form-control" placeholder="Location" [(ngModel)]="location"
        [ngModelOptions]="{standalone: true}">
</div>

<div class="form-check class mb-4">
    <input class="form-check-input" type="checkbox" id="checkChecked" [(ngModel)]="addToCollection"
        (change)="addToCollectionSelected()">
    <label class="form-check-label" for="checkChecked">
        Add To Collection
    </label>
</div>

@if(addToCollection() && previewUrl()){

<div class="fw-medium mb-2">
    Description
</div>

<div class="mb-4">
    <input type="text" class="form-control" placeholder="Image Description" [(ngModel)]="desc"
        [ngModelOptions]="{standalone: true}">
</div>

<div class="fw-medium mb-2">
    Priority
</div>

<select class="form-select mb-4" aria-label="Small select example" [(ngModel)]="priority"
    [ngModelOptions]="{standalone: true}">
    @for (item of image_list(); let i = $index; track i) {
    <option [value]="i+1">{{i+1}}</option>
    }
</select>
}

<div class="text-end my-4">
    @if(ongoing()){
    <button class="btn btn-outline-light px-5" disabled>
        <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </button>
    }
    @else {
    <button class="btn btn-outline-light me-2" (click)="reset()">Reset</button>
    <button class="btn btn-outline-light" (click)="uploadPost()">
        @if(editMode()){
        Edit
        }
        @else {
        Submit Post
        }
    </button>
    }
</div>


@for (item of posts(); track $index) {
<div class="rounded p-3 border border-secondary mb-3">
    @if(item.imageUrl!=""){
    <img [src]="item.imageUrl" class="img-fluid" />
    }

    <div class="my-2">
        <input type="text" class="form-control" placeholder="Post Title" [(ngModel)]="item.title"
            [ngModelOptions]="{standalone: true}" [disabled]="item.isDisabled">
    </div>

    <div class="mb-2">
                <textarea class="form-control" placeholder="Post Body" [(ngModel)]="item.postBody"
            [ngModelOptions]="{standalone: true}" [disabled]="item.isDisabled"></textarea>

    </div>

    <div class="mb-2">
        <input type="text" class="form-control" placeholder="Location" [(ngModel)]="item.location"
            [ngModelOptions]="{standalone: true}" [disabled]="item.isDisabled">
    </div>

    <div class="text-end">
        @if(item.isDisabled){
            <button class="btn btn-danger me-2" (click)="deletePost(item)" [disabled]="!stateService.loggedIn()">Delete</button>
            <button class="btn btn-primary" (click)="item.isDisabled=false" [disabled]="!stateService.loggedIn()">Edit</button>
        }
        @else {
            <button class="btn btn-success" (click)="editPost(item)">Submit</button>
        }
    </div>
    

</div>
}